/* RESET Y CONFIGURACIÓN GENERAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #9e8c8e15;
}

::-webkit-scrollbar-thumb {
    background-color: #525252;
    border-radius: 5px;
}

/* ELEMENTOS GENERALES */
.button,
form>input[type="submit"],
form>input[type="file"]:before {
    background-color: #6fa2cc;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    transition: all 300ms;
    text-align: center;
    text-decoration: none;
}

.button:hover,
form>input[type="submit"]:hover {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
}

form>input,
form>textarea,
form>select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    transition: all 300ms;
    outline: none;
}

form>textarea {
    resize: none;
}

form>input[type="file"] {
    color: transparent;
}

form>input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

form>input[type="file"]:before {
    content: 'Choose file';
    outline: none;
    cursor: pointer;
}

/* ESTRUCTURA GENERAL */
#container {
    width: 100%;
    margin: auto;
    background: rgba(255, 255, 255, 0.904);
    overflow: hidden;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto auto 1fr auto;
}

/* HEADER */
#header {
    display: flex;
    flex-direction: row;
    background-color: #c2c2bf;
    padding: 0 20%;
}

/* LOGO */
#logo img {
    transition: all 300ms;
}

#logo img:hover {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

/* MENÚ */
#menu {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 20px;
}

#menu ul li a,
#aside-container a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    transition: all 300ms;
}

#menu ul li a:hover,
#aside-container a:hover {
    text-shadow: 0 5px 4px #5550504d;
    font-size: 31px;
    background-color: #525252;
    border-radius: 10px;
    padding: 5px;
}

/* IDENTIDAD */
#identity {
    margin: 0 auto;
}

/* INFO SESSION */
.info-session {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    border: 1px solid #333;
}

.info-session #stats {
    display: flex;
}

.info-session #stats a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: white;
    border-right: 1px solid #333;
}

.info-session #stats a:first-child {
    background: white;
}

.info-session #stats a:nth-child(2) {
    background: #69b1d3;
}

.info-session #stats a:last-child {
    background: #69d389;
}

/* MAIN */
#main-container {
    display: flex;
}

/* ASIDE */
#aside-menu-button {
    display: none;
}

#aside-container {
    margin: 20px;
    justify-content: space-between;
}

#aside-block>.aside-block-container,
#register-container,
#manage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #333;
    color: white;
    padding: 30px;
    border-radius: 5px;
}

.aside-block-container>.aside-menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    min-width: 300px;
    min-height: 400px;
}

.aside-block-container>a {
    gap: 10px;
    padding: 10px;
}

#aside-block .welcome_user {
    width: 600px;
}

/* PRODUCTOS */
#product-container {
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 70%;
}

.product {
    background-color: #ffffffe6;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px gray;
    text-align: center;
    width: 230px;
    max-height: 400px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.product img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.buy {
    text-decoration: none;
    background-color: #69d389;
}

.buy:hover {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.856));
}

.link-product {
    color: black;
}

.link-product_carshop {
    color: white;
}

.link-product,
.link-product_carshop {
    text-decoration: none;
    transition: all 300ms;
}

.link-product:hover,
.link-product_carshop:hover {
    text-decoration: underline;
    color: #69b9d3;
}

/* DETALLES DE PRODUCTO */
.product-details {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 20px auto;
}

.product-details img {
    max-width: 600px;
    border-radius: 5px;
}

.product-details h2 {
    font-size: 30px;
    color: #6fa2cc;
}

.product-details .details {
    background-color: #ffffffe6;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

.product-details .buy {
    width: 100%;
    margin-top: auto;
}

/* CARRITO */
#carshop-stats a {
    display: flex;
    align-self: flex-start;
    font-size: 20px;
}

#carshop-stats a:hover {
    font-size: 19px;
}

#carshop-buttons-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#carshop-buttons-actions a,
.button-start-buy {
    width: 200px;
    margin: auto;
}

/* DETALLES DE PEDIDO */
.order-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

/* FOOTER */
footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: white;
}

/* FORMULARIO DE REGISTRO */
#register-container {
    margin: 20px auto;
    min-width: 65%;
    display: flex;
    justify-content: start;
}

#register-container form {
    gap: 10px;
}

/* ALERTAS */
.alert {
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    color: white;
    transition: all 300ms;
}

.alert_green {
    background-color: #69d389;
}

.alert_red {
    background-color: #d37469;
}

/* CATEGORÍAS */
#manage-container {
    margin: 20px auto;
    width: 65%;
    gap: 20px;
}

#manage-container form {
    display: flex;
    align-items: center;
    width: 100%;
}

#manage-container form input[type="text"],
#manage-container form select {
    width: 90%;
    height: 45px;
    border-radius: 5px 0 0 5px;
}

#manage-container form input[type="submit"] {
    width: 10%;
    height: 45px;
    border-radius: 0 5px 5px 0;
    margin: 0;
}

#manage-container h1,
#product-container h1 {
    color: rgba(255, 255, 255, 0.938);
    margin: 0 auto;
}

#manage-container>#table-container {
    width: 100%;
}

#manage-container table {
    width: 100%;
    text-align: center;
    border-radius: 5px;
    background-color: #0000003a;
    color: rgba(255, 255, 255, 0.938);
}

#manage-container table th {
    padding: 5px;
}

#manage-container table td {
    padding: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.938);
    text-decoration: none;
}

#table-container .units {
    display: flex;
    justify-content: center;
    align-items: center;
}

#table-container .units .alert {
    margin: 5px;
}

/* MEDIA QUERIES */
@media (max-width: 1100px) {
    html {
        scrollbar-width: none;
    }

    #container {
        width: 100%;
        align-items: center;
        justify-items: center;
    }

    #header {
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, 0.589);
    }

    #logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #logo a {
        font-size: 20px;
    }

    #header>#menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #menu ul {
        flex-direction: column;
    }

    #main-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin-bottom: 50px;
    }

    #aside-block>a {
        display: none;
        background-color: #0000003a;
    }

    #aside-menu-button {
        appearance: none;
        background-color: #6fa2cc;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        display: block;
        height: 45px;
        width: 45px;
        margin: 20px auto;
    }

    #aside-menu-button:before {
        content: '\2630';
        color: white;
        font-size: 20px;
        font-weight: bold;
        display: flex;
        margin: 8px;
    }

    #aside-menu-button:checked:before {
        content: '\2715';
    }

    #aside-block input[type="checkbox"]:checked~a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #product-container {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 60%;
        margin: 20px auto;
    }

    .product p {
        -webkit-line-clamp: 1;
        overflow: hidden;
    }

    #manage-container {
        width: 90%;
    }

    .m-categories form>input[type="submit"] {
        width: 50%;
    }

    #table-container {
        overflow-x: auto;
        width: 100%;
        text-align: end;
    }

    #register-container {
        width: 80%;
    }

    .m-products table tr td:last-child {
        display: flex;
        gap: 10px;
    }
}